body{
    background-color: bisque;
}

.main-menu{
    text-align: center;
    a{
        margin: 5px;
        padding: 5px;
        background-color: gray;
        border-style: solid;
        
    }
    a:hover{
        background-color: lightgray;
    }
}


.view{
    display: flex;
}

.view > div{
    margin:1%;
}

.data-table{
    width: 50%;
    
}
.select-parties{
    background-color: lightgray;
    width:50%;
}

.select-parties > button {
    font-size:10px;
    margin:15px;
    padding:15px;
}
.mandati{
    display: flex;
    flex: row;
    list-style-type: none;
    margin: 10px;
    padding: 10px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
td, th {
    border: 2px solid #dddddd;
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #dddddd;
}

/* .data-table > div{
    background-color: #f1f1f1;
    margin: 40px;
    padding: 80px;
    font-size: 120px;
} */

footer{
    text-align: center;
    background-color: lightslategray;
    color: black;
    font-size:20px;
}